@mixin post-heading($m-b: $paragraph-margin-bottom, $line-clamp: 2) {
    font-weight: bold;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    margin-bottom: $m-b;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line-clamp;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin post-excerpt($line-clamp: 3) {
    font-size: 0.8rem;
    margin-bottom: $paragraph-margin-bottom;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line-clamp;
    overflow: hidden;
    text-overflow: ellipsis;

    @include media(smAndDown) {
        display: none;
    }
}