$heading-margin-bottom: 0.8rem;
$paragraph-margin-bottom: 1rem;
$container-padding: 1rem;
$link-color: #DB6565;
$inter: 'Inter', system-ui, -apple-system, 'Helvetica Neue', sans-serif;
$bebas: 'Bebas Neue', system-ui, -apple-system, 'Helvetica Neue', sans-serif;
$text-color: #333333;